{% extends 'base.html' %}

{% block page_title %}
    About page
{% endblock %}

{% block page_content %}
    <div class = "text-center">
        <div class = "container">
            <div class="Center">
                <h1>Our Mission</h1>
                <p>At "What's up Doc", our mission is to empower patients to take control of their health by providing them with easy and convenient access to healthcare services. We understand that finding the right doctor can be a daunting task, and that's why we're committed to simplifying the process.</p><br>
                <p>Our healthcare technology platform not only enables users to find a doctor of their desired specialty in their location and within their insurance coverage, but it also allows them to customize their search further by refining results based on gender, years of experience, and language spoken.</p><br>
                <p>We understand that patients have unique preferences when it comes to their healthcare providers, and we want to ensure that our platform accommodates those needs. Whether it's a female doctor or a provider who speaks a specific language, we're committed to helping users find the right doctor for them.</p><br>
                <p>Our goal is to improve healthcare outcomes by putting patients at the center of their healthcare experience. By providing easy access to healthcare services, we're empowering patients to take charge of their health and make informed decisions about their care.</p><br>
                <p>By providing these additional search parameters, we're helping patients feel more comfortable and confident in their healthcare decisions. Our platform is designed to facilitate a seamless and personalized healthcare experience, allowing patients to make informed decisions about their care with ease. At "What's up Doc", we're committed to empowering patients to take control of their health in every way possible.</p><br>
                <p>Our goal is to improve healthcare outcomes by putting patients at the center of their healthcare experience. By providing easy access to healthcare services, we're empowering patients to take charge of their health and make informed decisions about their care.</p><br>
                <p>We're dedicated to leveraging technology to create a more patient-centric healthcare system, where patients have the tools they need to stay healthy and live their best lives. At "What's up Doc", we're committed to improving the health and well-being of our communities, one patient at a time.</p><br>
            </div>
        </div>
    </div>
{% endblock %}