{% extends 'base.html' %}

{% block page_title %}
    Search for a Doctor to your Preferences!
{% endblock %}

{% block page_content %}
    <div class = "text-center">
        <div class="container">
            <h1>Search for a Doctor to your Preferences!</h1>
            <form method="POST" style="color:white">
                {{ form.hidden_tag() }}
                <!-- can add logo here if wanted -->
                <img class="mb-4" src="" alt="">
                <br>
                {{ form.zipcode(class="form-control", placeholder="Zipcode") }}
                <br>
                <br>
                {{ form.distance(class="form-control", placeholder="Distance") }}
                <br>
                <br>
                {{ form.specialization(class="form-control", placeholder="Specialization") }}
                <br>
                <br>
                {{ form.years_experience(class="form-control", placeholder="Years of experience") }}
                <br>
                {{ form.insurance.label() }}
                <br>
                {{ form.insurance(class="form-control", placeholder="Preferred insurance") }}
                <br>
                {{ form.lang.label() }}
                <br>
                {{ form.lang(class="form-control", placeholder="Language") }}
                <br>
                {{ form.gender.label() }}
                <br>
                {{ form.gender(class="form-control", placeholder="Gender") }}
                <br>
                <br>
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            </form>
        </div>
    </div>
{% endblock %}