{% extends 'base.html' %}

{% block page_title %}
    Search for a Doctor to your Preferences!
{% endblock %}

{% block page_content %}
    <div class = "text-center">
        <div class="container">
            <h1>Search for a Doctor to your Preferences!</h1>

            <form method="POST" style="color:white">
                {{ form.hidden_tag() }}

                <!-- can add logo here if wanted -->
                <img class="mb-4" src="" alt=""> 

                <h1 class="h3 mb-3 font-weight-normal">
                    Please Enter your Preferences
                </h1>
                <br>
                {{ form.zipcode.label() }}
                {{ form.zipcode(class="form-control", placeholder="zipcode") }}
    
                {{ form.specialization.label() }}
                {{ form.zipcode(class="form-control", placeholder="specialization") }}
    
                <br>
    
            </form>


        </div>
    </div>
{% endblock %}