{% extends 'base.html' %}

{% block page_title %}
    Doctor Information!
{% endblock %}

{% block page_content %}
    <div class = "text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 align="right">
                        {{ doctor["first_name"] }}
                        {{ doctor["last_name"] }}
                    </h1>
                    <!-- format image to be small in top left corner -->
                    <img class="img-fluid" >
                        <img class="mb-4" width="325" height="325" object-fit="contain" align="right" src= "{{ doctor["avatar_url"] }}" > 
                    </img>
                </div>

                <div class="col">
                    <div class = "text-center">
                        
                            <div class = "font-weight-bold " >
        
                            
                            <table class="table table-borderless">
                            <tbody class="text-white">
                                <tr>
                                    <th class="text-right" scope="row">Address: </th>
                                    <td align="left">
                                    {{ doctor["address"]["street"] }},
                                    {{ doctor["address"]["city"] }},
                                    {{ doctor["address"]["state"] }},
                                    {{ doctor["address"]["zip"] }}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-right" scope="row">Phone Number: </th>
                                    <td align="left">{{ doctor["phone"] }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right" scope="row">Pronouns: </th>
                                    <td align="left">{{ doctor["pronouns"][0] }}/{{ doctor["pronouns"][1] }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right" scope="row">Specialty: </th>
                                    <td align="left">{{ doctor["specialty"].title().replace('_', ' ') }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right" scope="row">Insurances Accepted: </th>
                                    <td align="left">
                                        {% for ins in doctor["insurance_accepted"] %}
                                            {{ ins.title().replace('_', ' ') + ", " }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-right" scope="row">Accepting New Patients: </th>
                                    <td align="left">
                                        {% if doctor["available"] %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <tr>
                                        <th class="text-right" scope="row">Languages: </th>
                                        <td align="left">
                                            {% for lang in doctor["languages"] %}
                                                {{ lang.title() }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right" scope="row">Education: </th>
                                        <td align="left">{{ doctor["degree"] }} from {{ doctor["college"] }}</td>
                                    </tr>
                                </tr>
                                </tbody>
                            </table>
                        
                        </div>
                    </div>

                </div>
            </div>

            <br>
            
            <div class = "text-center">
                <div class="container">
                    <form method="POST" style="color:white">
                        {{ form.hidden_tag() }}

                        <h1 class="h3 mb-3 font-weight-normal">
                            Send a text message to {{ doctor["first_name"] }} {{ doctor["last_name"] }} to get more information:
                        </h1>
                        <br>
                        {{ form.name.label() }}
                        {{ form.name(class="form-control", placeholder="Your Name") }}
            

                        <br>
                        {{ form.phone.label() }}
                        {{ form.phone(class="form-control", placeholder="Your Phone Number") }}

                        <br>
                        {{ form.message.label() }}
                        {{ form.message(class="form-control", placeholder="Dear Doctor, ... ") }}

                        <br>
                        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            
                    </form>
                </div>
            </div>
            
            <br>
            <br>
            <div class="checkbox mb-3">
                <h6>Back to search: </h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('docquery') }}">Re-Try Search</a>
             </div>


        </div>
    </div>
{% endblock %}